/*PRICE QUOTE SECTION STYLES*/

.priceQuote {
    background: #323232;
    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 35px 0 30px 0;
        @media (max-width: 895px) {
            flex-direction: column;
            align-items: center;
        }
    }
    p {
        font-size: 3rem;
        color: #fff;
        @include tablet {
            font-size: 2rem;
            text-align: center;
        }
    }
    span {
        color: $highlight;
    }
    .boxLink {
        background: $highlight;
        margin: 0;
        font-size: 1.2rem;
        color: #fff;
        border: 1px solid #323232;
        &:hover {
            background: #fff;
            color: $highlight;
            border: 1px solid $highlight;
        }
    }
    .quoteLink {
        @media (max-width: 895px) {
            margin-top: 20px;
        }
    }
}

