/*OUR TEAM SECTION*/

.team__container--flex {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    @include tablet {
        flex-wrap: wrap;
    }
    @include phone {
        padding: 20px 0;
        justify-content: center;
    }
    
    figure {
        width: 30%;
        position: relative;
        transition: all 0.3s ease;
        @include tablet {
            width: 45%;
        }
        @include phone {
            width: 70%;
            padding-top: 20px;
        }
        img {
            width: 100%;
        }
    }

    figure:last-child {
        @include tablet {
            margin: 20px auto 0 auto;
        }
        @include phone {
            margin: 0;
        }

    }

    figcaption {
        position: absolute;
        color: #fff;
        bottom: 0;
        right: 0;
        left:0;
        top: 80%;
        border-top: 1px solid #ededed;
        @include tablet {
            top: 75%;
        }
        @include phone {
            top: 80%;
        }
    }
    p {
        padding-left: 20px;
        @include tablet {
            padding-left: 5px;
        }
    }

    .figcap__text--name {
        text-transform: uppercase;
        @include smallDesk {
            margin: 5px 0;
        }
        @media (max-width: 560px) {
            margin: 3px 0 0 0;
        }
        @include phone {
            padding-top: 10px;
        }
    }
    .italic {
        font-size: 1.2rem;
        @include phone {
            padding-top: 5px;
        }
    }
}

.meetOurTeam {
    figure:hover {
        transform: scale(1.1);
    }
    h3 {
        @include tablet {
            text-align: center;
        }
    }
}

.teamContentFlex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include tablet {
        flex-direction: column;
        align-items: center;
    }
    
    .joinUsLink {
        margin-top: 0;
        @include tablet {
            margin-top: 15px;
        }
    }
    p {
        width: 65%;
        line-height: 3rem;
        @include tablet {
        width: 95%;
        }
    }
}