/*MAIN STYLES*/

// import partials
@import "partials/setup";
@import "partials/globalAndTypography";
@import "partials/header";
@import "partials/webServices";
@import "partials/ourWorks";
@import "partials/chooseUs";
@import "partials/stats";
@import "partials/team";
@import "partials/testimonials";
@import "partials/priceQuote.scss";
@import "partials/blog";
@import "partials/pricingPlans";
@import "partials/footer";

// font-family: 'Montserrat', sans-serif;
// font-family: 'Crimson Text', serif;